<!--Parallax Effect project-->
<div class="background">
  <noscript>
    <div class="hamburger-content">
      <div class="hamburger-menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </noscript>
</div>
<div class="container">
  <template>
    <div id="border2"></div>
    <div class="border3"></div>
  </template>
  <h2>welcome</h2>
</div>

<div class="w4-container"></div>

<div class="w3-container">
  <div class="section">
    <h3 id="content">P</h3>
    <h3 id="content2">a</h3>
    <h3 id="content3">r</h3>
    <h3 id="content4">a</h3>
    <h3 id="content5">l</h3>
    <h3 id="content6">l</h3>
    <h3 id="content7">a</h3>
    <h3 id="content8">x</h3>
  </div>
</div>

<div class="minimalistic"></div>

<div class="minimalistic-container">
  <div class="container1">W</div>
  <div class="container2">e</div>
  <div class="container3">b</div>
  <div class="container4">s</div>
  <div class="container5">i</div>
  <div class="container6">t</div>
  <div class="container7">e</div>
</div>
<div class="last-wallpapper"></div>